Options +FollowSymLinks -MultiViews
DirectorySlash Off

RewriteEngine On
RewriteOptions inherit
RewriteRule (.*)\.htm[l]?(.*) $1.php$2 [nocase]

AuthType Basic  
AuthName "restricted area - building in progress"  
AuthUserFile /var/www/html/.htpasswd
require valid-user
