/* The Modal (background) */
.modalpopup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contentpopup {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;	/* Could be more or less, depending on screen size */
	vertical-align: middle;
}

/* The Close Button */
.closepopup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closepopup:hover,
.closepopup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}